* {
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;
  outline: none;
}

@font-face {
  font-family: 'Noto Sans TC', sans-serif;
  unicode-range: U+3100-312F;
}

@keyframes shakeOnce {
  from {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(12px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  to {
    transform: scale(1);
  }
}

@keyframes bigbang {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@media print {

  /* * {
    background-color: var(--white);
  } */
  .left-bar-container {
    display: none;
    width: 0px;
  }

  .title[data-v-6b49ebc7] {
    display: none;
  }

  .title {
    display: none;
  }

  h1 {
    display: none;
  }

  .title[data-v-d9dd859e] {
    display: none;
  }

  .print-form-container[data-v-6b49ebc7] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0px !important;
    margin-left: 0px;
    /* padding: 36px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .print-form-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0px !important;
    margin-left: 0px;
    /* padding: 36px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .form-container[data-v-6b49ebc7] {
    height: 97vh !important;
    width: 97vw !important;
  }

  .form-container {
    height: 97vh !important;
    width: 97vw !important;
  }

  .form-title-container {
    display: flex;
    flex-direction: column;
    height: var(--row-height);
    background-color: var(--black);
    padding: 6px;
  }

  #footer, nav {
    display: none;
  }

  @page {
    size: A4;
    margin: 0.5em;
  }
}

@media screen and (min-width: 1366px) {
  .card {
    flex-grow: 0;
    flex-shrink: 0;
    width: 16.66%;
    height: auto;
    padding: 36px;
    border: 3px solid var(--transparent);
    border-radius: var(--bigBorderRadius);
    transition: 0.3s;
    transform: translateZ(0px);
    text-decoration: none;
  }

  .all-fat-card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
  }

  .fat-card-item {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    width: calc(33.3333% - 48px);
    margin: 24px;
    padding: 12px 24px 12px 24px;
    color: var(--white);
    background-color: var(--turquoise);
    border-radius: var(--bigBorderRadius);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .card {
    flex-grow: 0;
    flex-shrink: 0;
    width: 25%;
    height: auto;
    padding: 36px;
    border: 3px solid var(--transparent);
    border-radius: var(--bigBorderRadius);
    transition: 0.3s;
    transform: translateZ(0px);
    text-decoration: none;
  }

  .all-fat-card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
  }

  .fat-card-item {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    width: calc(50% - 48px);
    margin: 24px;
    padding: 12px 24px 12px 24px;
    color: var(--white);
    background-color: var(--turquoise);
    border-radius: var(--bigBorderRadius);
  }

  .fat-card-edit-btn {
    position: relative;
    height: auto;
    width: auto;
    margin: 8px;
    padding: 8px;
    background-color: var(--transparent);
    color: var(--white);
    font-size: 16px;
    border-radius: var(--mediumBorderRadius);
    border: 3px solid white;
    cursor: pointer;
  }

  .fat-card-edit-btn:hover {
    animation-name: scale;
    animation-duration: 1s;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    flex-grow: 0;
    flex-shrink: 0;
    width: 50%;
    height: auto;
    padding: 36px;
    border: 3px solid var(--transparent);
    border-radius: var(--bigBorderRadius);
    transition: 0.3s;
    transform: translateZ(0px);
    text-decoration: none;
  }

  .all-fat-card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
  }

  .fat-card-item {
    display: flex;
    flex-direction: column;
    margin: 24px;
    padding: 12px 24px 12px 24px;
    color: var(--white);
    background-color: var(--turquoise);
    border-radius: var(--bigBorderRadius);
  }
}

:root {
  --turquoise: #1abc9c;
  --greensea: #16a085;
  --peterriver: #3498db;
  --nephrisit: #27ae60;
  --belizehole: #2980b9;
  --white: #FFFFFF;
  --black: #000000;
  --midnightblue: #2c3e50;
  --sunflower: #f1c40f;
  --wisteria: #8e44ad;
  --transparent: transparent;
  --leftBar: 300px;
  --smallBorderRadius: 3px;
  --mediumBorderRadius: 5px;
  --bigBorderRadius: 7px;
  --largeBorderRadius: 10px;
  --footerHeight: 48px;
  --form-input-padding-left: 8px;
  --row-height: 68px;
  --info-row-height: 42px;
}

body {
  margin: 0px;
}

textarea {
  resize: none;
}

p {
  margin: 8px;
}

.title h1 {
  margin: 0px;
}

#app {
  height: 100%;
  width: 100%;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  color: var(--midnightblue);
}

.form-input {
  min-width: 400px;
  width: 80%;
  height: auto;
  font-size: 18px;
  background-color: var(--transparent);
  color: var(--greensea);
  padding: 8px;
  margin: 12px;
  border-radius: var(--mediumBorderRadius);
  border: 3px solid var(--turquoise);
}

.item-form {
  min-width: 400px;
  width: 80%;
  border-radius: var(--mediumBorderRadius);
  border: 3px solid var(--turquoise);
}

.input-item-title {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-title {
  display: block;
  margin: 12px;
}

.input-embed-input-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.input-embed-input {
  font-size: 100%;
  color: inherit;
  border: 3px solid var(--turquoise);
  border-radius: var(--mediumBorderRadius);
  margin-left: 6px;
  margin-right: 6px;
  padding: 6px;
}

.swal-modal {
  background-color: var(--white);
  border: 3px solid var(--turquoise);
  border-radius: var(--bigBorderRadius);
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.swal-button {
  background-color: var(--turquoise);
}

/* Fat card style */
/* .fat-card-item {
  display: flex;
  flex-direction: column;
  margin: 24px;
  padding: 12px 24px 12px 24px;
  color: var(--white);
  background-color: var(--turquoise);
  border-radius: var(--bigBorderRadius);
} */
.fat-card-info {
  flex: 10;
  display: flex;
}

.fat-card-text-container {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.fat-card-img-container {
  display: flex;
  flex: 1;
  padding: 12px;
  /* border: 3px solid var(--white); */
  /* border-radius: var(--mediumBorderRadius); */
}

.fat-card-img-container>img {
  height: 100%;
  width: 100%;
}

/* Edit panel style */
.edit-panel-container {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.fat-card-edit-btn {
  flex: 1;
  height: auto;
  width: auto;
  margin: 8px;
  padding: 8px;
  background-color: var(--transparent);
  color: var(--white);
  font-size: 16px;
  border-radius: var(--mediumBorderRadius);
  border: 3px solid white;
  cursor: pointer;
}

.fat-card-edit-btn:hover {
  animation-name: scale;
  animation-duration: 1s;
}

.edit-panel-container {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.close-btn-container {
  position: absolute;
  right: 20px;
  top: 0px;
  z-index: 999;
  color: var(--white);
  font-size: 48px;
  cursor: pointer;
}

.edit-panel {
  height: 80vh;
  width: 80vw;
  overflow: scroll;
  background-color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: var(--bigBorderRadius);
  border: 3px solid var(--turquoise);
  padding: 24px;
  animation: bigbang;
  animation-duration: 0.5s;
}

.edit-panel-row {
  position: relative;
  display: block;
  min-width: 400px;
  width: 80%;
  font-size: 18px;
  background-color: var(--transparent);
  color: var(--greensea);
}

.row-item {
  position: relative;
  display: flex;
  flex-direction: row;
}

.row-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  font-size: 18px;
  color: var(--greensea);
}

.item-row {
  display: block;
  flex-direction: column;
}

.submit-btn {
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: var(--turquoise);
  color: white;
  transition: 0.3s;
}

.update-btn {
  height: auto;
  margin: 8px;
  padding: 8px;
  background-color: var(--transparent);
  color: var(--greensea);
  font-size: 16px;
  border-radius: var(--mediumBorderRadius);
  border: 3px solid var(--turquoise);
  cursor: pointer;
}

.update-btn p {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group {
  width: auto;
  height: auto;
}

.group {
  flex: 1;
}
