* {
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;
  outline: none;
}

@keyframes shakeOnce {
  from {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(12px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  to {
    transform: scale(1);
  }
}

@keyframes bigbang {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

:root {
  --turquoise: #1abc9c;
  --greensea: #16a085;
  --peterriver: #3498db;
  --nephrisit: #27ae60;
  --belizehole: #2980b9;
  --white: #FFFFFF;
  --black: #000000;
  --midnightblue: #2c3e50;
  --sunflower: #f1c40f;
  --wisteria: #8e44ad;
  --transparent: transparent;
  --leftBar: 300px;
  --smallBorderRadius: 3px;
  --mediumBorderRadius: 5px;
  --bigBorderRadius: 7px;
  --largeBorderRadius: 10px;
  --footerHeight: 48px;
  --form-input-padding-left: 8px;
}

body {
  margin: 0px;
}

textarea {
  resize: none;
}

p {
  margin: 8px;
}

.title h1 {
  margin: 0px;
}

#app {
  height: 100%;
  width: 100%;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  color: var(--midnightblue);
}

.form-input {
  min-width: 400px;
  width: 80%;
  height: auto;
  font-size: 18px;
  background-color: var(--transparent);
  color: var(--greensea);
  padding: 8px;
  margin: 12px;
  border-radius: var(--mediumBorderRadius);
  border: 3px solid var(--turquoise);
}

.item-form {
  min-width: 400px;
  width: 80%;
  border-radius: var(--mediumBorderRadius);
  border: 3px solid var(--turquoise);
}

.input-item-title {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-embed-input-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.input-embed-input {
  border: none;
  font-size: 100%;
  color: inherit;
}

.swal-modal {
  background-color: var(--white);
  border: 3px solid var(--turquoise);
  border-radius: var(--bigBorderRadius);
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.swal-button {
  background-color: var(--turquoise);
}

/* Fat card style */

.all-fat-card-container {
  padding: 12px;
}

.fat-card-item {
  display: flex;
  flex-direction: column;
  margin: 24px;
  padding: 12px 24px 12px 24px;
  color: var(--white);
  background-color: var(--turquoise);
  border-radius: var(--bigBorderRadius);
}

.fat-card-info {
  display: flex;
}

.fat-card-text-container {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.fat-card-img-container {
  display: flex;
  flex: 1;
  padding: 12px;
  /* border: 3px solid var(--white); */
  /* border-radius: var(--mediumBorderRadius); */
}

.fat-card-img-container>img {
  height: 100%;
  width: 100%;
}

.fat-card-edit-btn {
  height: auto;
  width: auto;
  margin: 8px;
  padding: 8px;
  background-color: var(--transparent);
  color: var(--white);
  font-size: 16px;
  border-radius: var(--mediumBorderRadius);
  border: 3px solid white;
  cursor: pointer;
}

.fat-card-edit-btn:hover {
  animation-name: scale;
  animation-duration: 1s;
}

/* Edit panel style */

.edit-panel-container {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.edit-panel-container {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.close-btn-container {
  position: absolute;
  right: 20px;
  top: 0px;
  z-index: 999;
  color: var(--white);
  font-size: 48px;
  cursor: pointer;
}

.edit-panel {
  height: 70vh;
  width: 70vw;
  overflow: scroll;
  background-color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: var(--bigBorderRadius);
  border: 3px solid var(--turquoise);
  padding: 24px;
  animation: bigbang;
  animation-duration: 0.5s;
}

.submit-btn {
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: var(--turquoise);
  color: white;
  transition: 0.3s;
}

.update-btn {
  height: auto;
  margin: 8px;
  padding: 8px;
  background-color: var(--transparent);
  color: var(--greensea);
  font-size: 16px;
  border-radius: var(--mediumBorderRadius);
  border: 3px solid var(--turquoise);
  cursor: pointer;
}

.update-btn p {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
